# Server IP address (use 127.0.0.1 for localhost or public IP for remote)
SERVER_IP=127.0.0.1

## SECRETS
#DB
MYSQLROOTPASSWORD=zotero
MYSQLDATABASE=zotprimeprod
MYSQLUSER=zotprimeprod
MYSQLPASSWORD=zotprimeprod

#MINIO
MINIOROOTUSER=zotero
MINIOROOTPASSWORD=zoterodocker

#Version 
VER=v2.9.1

