[submodule "client/zotero-client"]
	path = client/zotero-client
	url = https://github.com/uniuuu/zotero
	branch = 6.0
[submodule "client/zotero-standalone-build"]
	path = client/zotero-standalone-build
	url = https://github.com/uniuuu/zotero-standalone-build
[submodule "client/zotero-build"]
	path = client/zotero-build
	url = https://github.com/uniuuu/zotero-build
	branch = master

[submodule "stack/dataserver/dataserver"]
	path = stack/dataserver/dataserver
	url = https://github.com/uniuuu/dataserver.git
[submodule "stack/tinymce-clean-server/tinymce-clean-server"]
	path = stack/tinymce-clean-server/tinymce-clean-server
	url = https://github.com/uniuuu/tinymce-clean-server.git
[submodule "stack/stream-server/stream-server"]
	path = stack/stream-server/stream-server
	url = https://github.com/uniuuu/stream-server.git

